@extends('layout.master')
@section('content')

<section id="featured">

    <section id="content">

        <div class="container">
            <a href="{{ url('posts/edit') }}" class="btn btn-info pull-right">Edit List</a>
            <a href="{{ url('posts') }}" class="btn btn-info pull-right">All Posts</a>
            <div class="row">
                <div class="span12">
                    <h2>Show title here</strong></h4>
                    <h3>SHow Description Here</h3>
                </div>
            </div>
        </div>
    </section>


    @stop